
.navButton {
   text-align: center;
   vertical-align: center;
   margin: 20px;
}

.wrapper {
   display: inline;
   background-color: #F6F9FF;
   font-size: 35px;
   border: 3px solid #F6F9FF;
   border-radius: 30px;
   box-shadow: 3px 5px #8888883b;
}

.incomeOrExpenses , .monthlyOrSemester{
   border:none;
   background-color: #F6F9FF;
   color: none;
   border-radius: 30px;
   font-size: 30px;
   margin: 15px;
   margin-top: 40px;
   padding-inline: 8px;
}

.incomeOrExpenses:hover, .monthlyOrSemester:hover {
   cursor: pointer;
}

input[type="radio"]{
   display: none;
}

#income:checked:checked ~ .income,
#expenses:checked:checked ~ .expenses{
   background-color: #458cfe;
   color: white;
}

#monthly:checked:checked ~ .monthly,
#semester:checked:checked ~ .semester{
   background-color: #000000;
   color: white;
}