
.navButton {
   text-align: center;
   vertical-align: center;
}

.t {
   display: inline;
   background-color: #F6F9FF;
   font-size: 35px;
   border: 3px solid #F6F9FF;
   border-radius: 30px;
   box-shadow: 3px 5px #8888883b;
}

.tt button:focus {
   background-color: #000000;
}

button {
   border:none;
   background-color: #F6F9FF;
   color: none;
   border-radius: 30px;
   font-size: 30px;
   margin: 15px;
   margin-top: 40px;
   padding-inline: 20px;
}

button:hover {
   cursor: pointer;
   border:none;
   background-color: #888888;
   color: white;
}

button:focus {
   cursor: pointer;
   border:none;
   background-color: #458cfe;
   color: white;
}