.field-form {
   display: flex;
   /* background-color: aqua; */
   padding: 30px;
   /* justify-content: center; */
   margin-inline: 20%;
}


form input{
   border: none;
   outline: none;
   border-bottom: 1px solid black;
}

.submit-btn {
   background-color: #000358;
   color: #F5FBFB;
   padding: 15px;
   width: 250px;
   border-radius: 13px;
   box-shadow: 3px 5px #8888883b;
}

.add-btn {
   cursor: pointer;
   border:none;
   background-color: #458cfe;
   color: white;
   padding: 10px;
   border-radius: 13px;
   box-shadow: 3px 5px #8888883b;
}