* {
  padding: auto;
  font-family: 'Montserrat Alternates', sans-serif;
  box-sizing: border-box;
}


/* Header component: */
.app-header {
  padding: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #f6f9ff;
  color: #458cfe;
}
#small-line {
  margin: 0px;
}
#slogen {
  color: black;
  max-width: 360px;
  margin: auto;
}

/* CategoryNav component: */
#category-nav {
  margin: 40px;
}
.navButton {
  text-align: center;
  vertical-align: center;
  margin: 20px;
}
.wrapper {
  display: inline;
  background-color: #F6F9FF;
  font-size: 35px;
  border: 3px solid #F6F9FF;
  border-radius: 30px;
  box-shadow: 3px 5px #8888883b;
}
.incomeOrExpenses , .monthlyOrSemester{
  border:none;
  background-color: #F6F9FF;
  color: none;
  border-radius: 30px;
  font-size: 30px;
  margin: 15px;
  margin-top: 40px;
  padding-inline: 8px;
}
.incomeOrExpenses:hover, .monthlyOrSemester:hover {
  cursor: pointer;
}
input[type="radio"]{
  display: none;
}
#income:checked:checked ~ .income,
#expenses:checked:checked ~ .expenses{
  background-color: #458cfe;
  color: white;
}
#monthly:checked:checked ~ .monthly,
#semester:checked:checked ~ .semester{
  background-color: #000000;
  color: white;
}


.bodyWrapper {
  margin-inline: 20%;
  margin-bottom: 70px;
}

/* FieldsSelector component: */
.combo {
  display: inline;
  background-color: #458cfe;
  color: white;
  border-radius: 13px;
  padding: 10px;
  width: 200px;
  margin: 20px;
}
.combo option {
  background-color: #E8E8E8;
  color: dimgray;
  border: 1px solid rgb(34, 18, 18);
}
.combo option:hover {
  background-color: #E8E8E8;
  color: dimgray;
}

/* FieldsRemaining component: */
.field-remaining-btn {
  color: #E8E8E8;
  background-color: #458cfe;
  margin-right: 10px;
  padding: 3px;
  border-radius: 6px;
  border: 0px;
  cursor: pointer;
}
.current {
  color: #000c20;
  background-color: #fea845;
}
/* FieldsCompleted component: */
.field-completed-btn {
  color: #E8E8E8;
  background-color: #000358;
  margin-right: 10px;
  padding: 3px;
  border-radius: 6px;
  border: 0px;
}

/* FieldForm component: */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.field-form:after {
  content: "";
  display: table;
  clear: both;
}
form input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin-block: 15px;
  width: 30vh;
}
#payment_method {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin-block: 15px;
  justify-content: right;
  width: 30vh;
}

/* AddField component: */
.add-btn {
  cursor: pointer;
  border:none;
  background-color: #458cfe;
  color: white;
  padding: 10px;
  margin-block: 15px;
  border-radius: 13px;
  box-shadow: 3px 5px #8888883b;
}

/* SubmitUserData component: */
.submit-btn {
  background-color: #000358;
  color: #F5FBFB;
  padding: 15px;
  width: 250px;
  border-radius: 13px;
  box-shadow: 3px 5px #8888883b;
  cursor: pointer;
}


.column-3 {
  float: left;
  width: 33.33%;
}

.data-table {
  background-color: #000358;
  margin-top: 300px;
  margin-bottom: 300px;
  border-radius: 20px;
}